{% verbatim %}
<div ng-controller="AgmController">
    <div
            simple-marker
            ng-marker="marker"
            ng-marker-drag="true"
            ng-marker-limit="10"
            ng-center-lat="40.177037117759895"
            ng-center-lng="44.51488494873047"
            ng-zoom="12"
            ng-marker-icon="../uploads/icon1.png"
            style="width:700px;height:500px">
    </div>
    <div class="right-block">
        <input type="text" placeholder="Latitude"  ng-init="marker.Lat=''" ng-model="marker.Lat" readonly/>
        <input type="text" placeholder="Longitude" ng-init="marker.Lng=''" ng-model="marker.Lng" readonly/>
    </div>
</div>
{% endverbatim %}
<script src="/bundles/angulargooglemaps/js/angular.min.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/bundles/angulargooglemaps/js/app.js" type="text/javascript"></script>
<script src="/bundles/angulargooglemaps/js/controllers/AgmController.js" type="text/javascript"></script>
<script src="/bundles/angulargooglemaps/js/directives/agm.js" type="text/javascript"></script>
<script src="/bundles/angulargooglemaps/js/directives/yitSimpleMap.js" type="text/javascript"></script>
